

html {
    --webkit-background-size: contain;
    --moz-background-size: contain;
    --o-background-size: contain;
    width: 100%;
}



body{
    background-color: palegreen;
}




/*Image Classes*/

.large_img{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 40px;

  
 
    

}

/*Image Classes*/


.a_inline{
    background: #ece9ec;
    border: 1px solid black;
    display: block;
    width: fit-content; /* This will set the width to be just as big as needed*/
    margin: auto;
    font-size: 20;
    font-family: "Merriweather", serif;
}

/*
.button_inline{
    width: 100px;
    height: 10px;
}
*/

header h2{
    font-family: "Merriweather", serif;
    box-shadow: 0px 10px 10px -10px #0b19dd
    
    
    

}


/* Styling the anchor tag */

nav{
    background: #bfa89e;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    margin-bottom: 10px;
}

header nav a {
    display: inline-block;
    color: #001d3d;
    border: 2px solid #03045e;
    border-radius: 100px;
    width:75px;
    padding:10px 30px;
    text-align: center;
    text-decoration: none;
    font-family: "Merriweather", serif;
    transition: color 0.5s, border-color 0.5s, box-shadow 0.5s, transform 0.5s;
}

header nav a:hover{
    color: white;
    border-color:#56aff8;
    box-shadow: 0px 10px 10px -10px #56aff8;
    transform: translateY(-5px);
    cursor: pointer;
    text-decoration: underline;
}

nav{
    background:#11b23199;
}

footer p{
    font-family: "Merriweather", serif;
    text-align: right;
    font-weight: bolder;
    color: #2f00ff;
}


footer a{
    font-family: "Merriweather", serif;
    text-align: right;
    font-weight: bolder;
    color: #111111;
}


/*Contact Page Styling*/
#contact{
    background: #ebf5ee;
}

#contact_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_div label{
    display: inline-block;
    width:200px;
}

#btn_wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;

}
/* styling story.html page*/

.story_info{
    background: white;
    color:black;
    font-size: 1.2rem;

}
