/*Index Page Styling*/
  

#enter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background: #0e0814;
}

#enter_link{
    display: flex;
    justify-content: center;

}

/*styling of the link*/
#enter_link a{
    color: #ebf5ee;
    background: #8b786d;
    text-align: center;
    text-decoration: none;
    width: 75px;
    padding: 10px 30px;
    font-size: 1.2rem;
    transition: border-radius 1s, box-shadow 1s;
}

#enter_link a:hover{
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;

}


.enter_box{
    width: 50px;
    height: 50px;
    background: #a95e3d;
    margin-bottom: 50px;
    transition: margin-left 4s, background-color 4s;
    

}

#enter:hover .enter_box{
    margin-left: 95%;
    background: #78a1bb;

}

.enter_box:nth-of-type(1){
    transition-timing-function: ease-in;
}

.enter_box:nth-of-type(2){
    transition-timing-function: ease-out;
}
.enter_box:nth-of-type(3){
    transition-timing-function: linear;
}
.enter_box:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}



/*--Done sytling the index page*/


