html {
    --webkit-background-size: contain;
    --moz-background-size: contain;
    --o-background-size: contain;
}

body {
    font-size: 20px;
    color: grey;
    font-family: Tahoma;
    min-height: auto;
    max-width: auto;
    background-color: papayawhip;
    margin: 0 auto;
}


h3 {
    font-family: Papyrus;
    font-size: 50px;
}

/*
a {
    color: white;
}
*/

a:hover {
    text-decoration: underline;
}


section {
    position: relative;
    width: 100%; height: 100vh;
    background:url("runaway.gif") no-repeat center center;
    background-size:contain;
    height: 480px;
    width: auto;
    /*overflow: hidden;*/
    align-items: center;
    text-align: center;
}

section h3 {
    color: yellow;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    font-family: "Merriweather", serif;
}

section a {
    position: relative;
    top: 210px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, .5);
    width: 300px;
    text-align: center;
    color: white;
    font-family: "Merriweather", serif;
}

footer p{
    font-family: "Merriweather", serif;
    text-align: right;
    font-weight: bolder;
    color: rgb(0, 13, 255);
}

footer a{
        font-family: "Merriweather", serif;
        text-align: right;
        font-weight: bolder;
        color: rgb(8, 12, 12);
    }
